name: frontend-ci

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  docker-build-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/sy2667/hh-frontend:latest
          build-args: |
            VITE_API_BASE_URL=https://api.glodpig.life/api
            VITE_NAVER_CLIENT_ID=${{ secrets.VITE_NAVER_CLIENT_ID }}
            VITE_NAVER_RETURN_URL=${{ secrets.VITE_NAVER_RETURN_URL }}
            VITE_APP_ORIGIN=https://glodpig.life
